.board {
  background-color: lightblue;
  width: 1500px;
}

.draggable {
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}